<section class="footer-section">
    <div class="container">
        <div class="row cs-border mb-3">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="comp-img p-2 mb-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/grovemanglobal.png'" alt="grovemanglobal">
                </div>
                <div class="social-icons mb-3">
                    <div class="d-flex justify-content-center gap-3">
                        <a href="https://www.facebook.com/GrovemanGlobal?mibextid=ZbWKwL" target="_blank" class="ics mb-3">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/deenadayalankumar" target="_blank" class="ics mb-3">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/groveman_global/" target="_blank" class="ics mb-3">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                <h3>Quick Links</h3>
                <ul class="nav-routes pe-3 pt-3 pb-3 ps-1">
                    <li class="mb-3">
                        <a routerLink="/" [class.active]="isLinkActive('/')">Home</a>
                    </li>
                    <li class="mb-3">
                        <a routerLink="/services" routerLinkActive="active">Services</a>
                    </li>
                    <li class="mb-3">
                        <a routerLink="/job-seekers" routerLinkActive="active">Apply Job</a>
                    </li >
                    <li class="mb-3">
                        <a routerLink="/job-news" routerLinkActive="active">Job News</a>
                    </li>
                    <li class="mb-3">
                        <a href="#contact-us-section">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <h3>Corporate Office</h3>
                <ul class="pe-3 pt-3 pb-3 ps-1">
                    <li class="d-flex">
                        <div>
                            <mat-icon>pin_drop</mat-icon>
                        </div>
                        <div class="ms-2">
                            <address class="mb-2">
                                Villa #156, 9th Street, Casagrande Arena, Vallakottai, Oragadam, Kanchipuram Dist, Tamilnadu, India – 631 604
                            </address>
                        </div>
                    </li>
                    <li class="mb-1">
                        <div class="d-flex">
                            <div>
                            <mat-icon>call</mat-icon>
                            </div>
                            <div class="ps-2">
                                <span>+9173054 78864</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <h3>Contact Information</h3>
                <ul class="pe-3 pt-3 pb-3 ps-1">
                    <li class="d-flex">
                        <div>
                            <mat-icon>pin_drop</mat-icon>
                        </div>
                        <div class="ps-2">
                            <address class="mb-2">
                                781/A, Kirubai tower, Bangalore main road ( near union Bank) , Sunguvarchathram, Sriperumbudur, Kancheepuram - 602 106
                            </address>
                        </div>
                    </li>
                    <li>
                        <div class="d-flex">
                            <div>
                                <mat-icon>call</mat-icon>
                            </div>
                            <div class="mb-2 ps-2">
                                <span>+91 80986 77864</span>
                            </div>
                        </div>
                    </li>
                    
                    <li class="mb-1">    
                        <div class="d-flex">
                            <div>
                                <mat-icon>mail</mat-icon>
                            </div>
                            <div class="ps-2">
                                <span>grovemanglobalpl&#64;gmail.com</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center">
            <p>© 2024 Groveman Global Pvt.Ltd Inc. All rights reserved.</p>
        </div>
    </div>
</section>