<section class="banner-section pr-trm-fd-section">
    <div class="container col-8">
        <h1 class="mb-3">Privacy Policy</h1>
        <p class="mb-3">
            Welcome to Groveman Global's privacy statement! The safety of our guests' privacy is our top priority. The information types that Groveman Global collects and records, as well as how we use that information, are described in our Privacy Policy document.
        </p>
        
        <p class="mb-3">
            Please get in touch with us if you have any more inquiries or need more details about our privacy policy.
        </p>
        
        <p class="mb-3">
            This privacy statement is intended for website users who share and/or gather information about Groveman Global and only pertains to our online operations. Any information gathered offline or through sources other than this website is not covered by this policy.
        </p>
        
        
        
        <h2 class="mb-3">Consent</h2>

        <p class="mb-3">
            You hereby provide your permission to our Privacy Policy and accept its conditions by using our website.
        </p>

        <h2 class="mb-3">
            Information That We Gather
        </h2>

        <p class="mb-3">
            At the time we gather your personal information, we'll make sure to make explicit what information we're asking for from you and why.
        </p>
        <p class="mb-3">
            We may obtain more information about you if you choose to get in touch with us directly, including your name, email address, phone number, the content of your message, any attachments you might provide us, and any other details you voluntarily disclose.
        </p>
        <p class="mb-3">
            We could ask for your contact information when you sign up for an account, such as your name, company name, address, email address, and phone number.
        </p>

        <ul class="pr-trm-fd-list mb-3">
            <li>What We Do With Your Data </li>
            <li>gather data for a variety of reasons, such as:
            </li>
            <li>establishing, running, and upkeep of our website
            </li>
            <li>enhancing, customizing, and growing our website
            </li>
            <li>Recognizing and evaluating how you utilize our website
            </li>
            <li>Creating new goods, services, features, and capabilities
            </li>
            <li>contacting you for customer service, website updates, and other website-related information as well as marketing and advertising goals, either directly or through our partners</li>
            <li>sending emails to you
            </li>
            <li>fraud detection and prevention</li>
        </ul>

        <h2 class="mb-3">
            Log Files 
        </h2>

        <p class="mb-3">
            Groveman Global uses log files and adheres to industry standards. As people browse websites, these files keep track of their activity. This procedure is used by all hosting firms as part of their hosting service analytics. Internet protocol (IP) addresses, browser type, Internet service provider (ISP), date and time stamps, referring/exit sites, and even visit counts are among the data that log files collect. This data is used for demographic research, trend analysis, website administration, tracking user behavior on the site, and other purposes that are not personally identifiable.
        </p>

        <h2 class="mb-3">
            Website beacons and cookies
        </h2>
        <p class="mb-3">
            Groveman Global uses cookies, like other websites, to retain information about visitors' preferences and the pages of the website they access or browse. By tailoring web page content to each visitor's browser and/or other factors, this data is used to enhance their user experience.

        </p>

        <h2 class="mb-3">
            Partners in Advertising Privacy Policies

        </h2>
        <p class="mb-3">
            Please refer to the list provided to locate the Privacy Policy for each of Groveman Global advertising partners.

        </p>
        <p class="mb-3">Ads and links on Groveman Global are served by third-party ad servers or ad networks using technologies like cookies, JavaScript, or web beacons. When you interact with the adverts, these technologies automatically capture your IP address. They are employed to evaluate the success of their marketing initiatives and/or tailor the advertising you see on websites you visit.
        </p>
        <p class="mb-3">
            Please be aware that Groveman Global neither controls nor has access to any of the cookies that are used by third-party advertising.

        </p>
        <h2 class="mb-3">
            Policy on Third-Party Privacy 
        </h2>
        <p class="mb-3">
            Groveman Global The privacy policy of the does not cover other advertisers or websites. For more information on these third-party ad servers' practices and how to opt out of particular choices, we advise reading their individual Privacy Policies.

        </p>
        <p class="mb-3">
            Through the choices available in each browser, you can decide to turn off cookies. Consult the websites of the relevant web browsers for additional in-depth information on cookie management.
        </p>

        <h2 class="mb-3">
            CCPA Privacy Rights (Do Not Sell My Personal Information)
        </h2>
        <p class="mb-3">
            Under the California Consumer Privacy Act (CCPA), California consumers have the right to:

        </p>
        <ul class="pr-trm-fd-list mb-3">
            <li>Request disclosure of the categories and specific pieces of personal data collected by a business.</li>
            <li>Request deletion of any personal data collected about them.</li>
            <li>Request that a business that sells personal data does not sell their personal data.</li>
        </ul>

        <p class="mb-3">If you make a request, we have one month to respond. If you wish to exercise any of these rights, please contact us.</p>

        <h2 class="mb-3">
            GDPR Data Protection Rights
        </h2>
        <p class="mb-3">
            We want to ensure that you are fully aware of your data protection rights. Every user is entitled to the following.
        </p>
        <ul class="pr-trm-fd-list mb-3">
            <li>The right to access: You have the right to request copies of your personal data. We may charge a small fee for this service.</li>
            <li>The right to rectification: You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete information you believe is incomplete.</li>
            <li>The right to erasure: You have the right to request that we erase your personal data under certain conditions.</li>
            <li>The right to restrict processing: You have the right to request that we restrict the processing of your personal data under certain conditions.</li>
            <li>
                The right to object to processing: You have the right to object to our processing of your personal data under certain conditions.
            </li>
            <li>The right to data portability: You have the right to request that we transfer the data we have collected to another organization or directly to you under certain conditions.</li>
        </ul>

        <p class="mb-3">
            If you make a request, we have one month to respond. If you would like to exercise any of these rights, please contact us.
        </p>

        <h2 class="mb-3">
            Children's Information
        </h2>
        <p class="mb-3">We place great importance on protecting children's online activity. We encourage parents, guardians, and caregivers to observe, participate in, and/or monitor and guide their children's online activities.</p>
        <p class="mb-3">Groveman Global does not knowingly collect any personally identifiable information from children under the age of 13. If you believe that your child has provided this kind of information on our website, we strongly urge you to contact us immediately, and we will make every effort to promptly remove such information from our records.</p>
    </div>
</section>
