<app-header></app-header>
<div class="social-aside">
    <ul>
      <li>
        <a href="tel:+91 80986 77864" target="_blank"><mat-icon>ring_volume</mat-icon></a>
      </li>
      <li>
        <a href="mailto:grovemanglobalpl@gmail.com" target="_blank"><mat-icon>mail</mat-icon></a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send?phone=7305478864" target="_blank"><mat-icon>support_agent</mat-icon></a>
      </li>
    </ul>
  </div>
<router-outlet />
<app-footer></app-footer>
