<section class="banner-section fraud-alert-section">
    <div class="container col-8">
        <h1 class="mb-3">Fraud Alert for Groveman Global</h1>
        <h2 class="mb-3">Dear Valued Job Seekers,</h2>
        <p class="mb-3">
            It has come to our attention that fraudulent activities target job seekers, falsely claiming association with Groveman Global. To protect our applicants, we issue this fraud alert:
        </p>
        <ul class="fraud-section-list mb-3">
            <li><span class="dark-content">No Payment Requests :</span>Groveman Global does not require any payment from job seekers for recruitment processes.
            </li>
            <li><span class="dark-content">Official Channels Only :</span>All communication regarding job applications from Groveman Global will be conducted through official channels. Beware of any communication from unauthorized sources claiming to represent our company.
            </li>
            <li><span class="dark-content">Bogus Recruitment Documentation :</span>Fraudsters may request the completion of fake recruitment documentation via email, such as application forms. Be cautious of such requests as they are not legitimate.
            </li>
            <li><span class="dark-content">Verification Process :</span>Before engaging in any recruitment process or providing personal information, verify the authenticity of the communication and the individual representing Groveman Global.
            </li>
            <li><span class="dark-content">Report Suspicious Activities :</span>If you encounter any suspicious activities claiming to be associated with Groveman Global, please report them immediately to our official email address or contact number.
            </li>
        </ul>
        <p class="mb-3">
            Groveman Global is committed to ensuring a safe and transparent recruitment process for all our applicants. We appreciate your cooperation and vigilance in helping us maintain the integrity of our recruitment procedures.
        </p>
        <p>Sincerely,</p>
        <p>Groveman Global</p>
    </div>
</section>
