<!-- <section class="home-banner banner-section">
    <div class="bg-banner p-lg-5 p-md-3 p-sm-2 ">
        <div class="container">
            <div class="row center-cont">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h1>GROVEMAN GLOBAL</h1>
                    <button class="pr-btn banner-btn">JOB SEEKERS</button>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="apply-section banner-section">
    <div class="banner-img">
        <img src="../../../assets/images/g-man-banner.png" alt="">
    </div>
</section> -->

<section class="banner-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5 col-sm-12 col-12 px-3">
                <div class="box" data-aos="fade-right">
                    <small>WELCOME TO <span class="pr-cl">GROVEMAN</span></small>
                    <h1 class="mb-3">Discover Your Profession, Forge Your Path</h1>
                    <p class="mb-4">Find your dream job or build your dream team. OUr platform connects top talents with top companies. post Jobs, apply with ease, consult with our team and lets grow together</p>
                    <h3 class="mb-3">Connect >> Hire >> Thrive</h3>
                    <a href="#contact-us-section"><button mat-raised-button class="pr-btn mb-4" >Free Consultation</button></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-12 px-3">
                <div class="box" data-aos="fade-down">
                    <div class="banner-circle">
                        <img class="g-img " [src]="baseUrl+'assets/images/banner-circle.png'" alt="banner-circle">
                    </div>
                </div>
                <div class="box" data-aos="fade-left">
                    <div class="banner-img">
                        <img class="g-img" [src]="baseUrl+'assets/images/home-banner-hr.webp'" alt="home-banner-hr">
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</section>

<section class="wt-section">
    <div class="container">
        <div class="heading text-center mb-5">
            <div class="box" data-aos="fade-up">
                <h2 class="text-center">HOT <span class="pr-cl">JOBS</span></h2>
            </div>
        </div>
        <div class="box" data-aos="fade-right">
            <swiper-container class="mySwiper" slides-per-view=3 pagination="true" pagination-clickable="false" navigation="false" space-between="30"
            centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false"
            >
            <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img mb-3" [src]="baseUrl+'assets/images/client_1.jpeg'" alt="client_1">
                    <p class="mb-3">Topmost MNC recruiting female candidates for their Manufacturing Units in Kanchipuram, Tamilnadu and Bangalore. Required – 1500 Female. 
                    </p>
                    <a mat-raised-button class="pr-btn" href="/job-news">Read More</a>
                </div>
            </swiper-slide>
            <!-- <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/client_2.jpeg'" alt="client_2">
                    <p class="mb-3">when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <button mat-raised-button class="pr-btn">Read More</button>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="client-img mb-3 p-3" style="margin: 0px auto;">
                    <img class="g-img" [src]="baseUrl+'assets/images/client_3.jpeg'" alt="client_3">
                    <p class="mb-3">when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <button mat-raised-button class="pr-btn">Read More</button>
                </div>
            </swiper-slide> -->
            <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/hitachi-cli.jpeg'" alt="hitachi-cli">
                    <!-- <p class="mb-3">MNC hiring Male and Female for their assembling unit in Thiruporu, Japan City, Chengalapttu Dist, Required – Male /Female – 50 Nos </p> -->
                    <a href="/job-news" mat-raised-button class="pr-btn">Read More</a>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/or-bion-cli.jpeg'" alt="or-bion-cli">
                    <!-- <p class="mb-3">Pharmaceutical MNC Hiring Male candidates for their Production unit in IRungattukottai SIPCOT, Kanchipuram Dist. Required – 50 Male
                    </p> -->
                    <a href="/job-news" mat-raised-button class="pr-btn">Read More</a>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/vignesh-cli.jpeg'" alt="vignesh-cli">
                    <!-- <p class="mb-3">Growing Automobile company looking for young, dynamic male for their production unit in Oragadam SIPCOT, Kanchipuram Dist. Required – 300 Male 
                    </p> -->
                    <a href="/job-news" mat-raised-button class="pr-btn">Read More</a>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="client-img mb-3 p-3">
                    <img class="g-img" [src]="baseUrl+'assets/images/texvally-cli.jpg'" alt="texvally-cli">
                    <!-- <p class="mb-3">South India’s Largest Destination Mall hiring Male and Female for Showroom Managers, Supervisors and Sales Executives at Erode Dist.. Required – 300 Male& Female </p> -->
                    <a href="/job-news" mat-raised-button class="pr-btn">Read More</a>
                </div>
            </swiper-slide>
          </swiper-container>
        </div>
        
    </div>
</section>



<!-- <div class="jobs-card p-3">
                        <div class="job-img mb-3">
                            <img class="g-img" src="../../../assets/images/mf-jobs.png" alt="MNC Mobile Manufacturing">
                        </div>
                        <div class="job-desc">
                            <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                            <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                            <div class="job-details">
                                <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                            </div>
                            <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                        </div>
                    </div> -->

<!-- <section class="wt-section">
    <div class="container">
        <div class="heading text-center mb-5">
            <div class="box" data-aos="fade-up">
                <h2>HOT <span class="pr-cl">JOBS</span></h2>
            </div>
        </div>
        <div class="box" data-aos="fade-left">
            <swiper-container class="mySwiper" slides-per-view="3" pagination="true" pagination-clickable="false" navigation="false" space-between="30"
                centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide>
                    <div class="hot-jobs-img">
                        <img [src]="baseUrl+'assets/images/accountant.png'" alt="accountant">
                    </div>
                    
                </swiper-slide>
                <swiper-slide>
                    <div class="hot-jobs-img">
                        <img [src]="baseUrl+'assets/images/assistant-manager.png'" alt="assistant-manager">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="hot-jobs-img">
                        <img [src]="baseUrl+'assets/images/finance-manager.png'" alt="finance-manager">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="hot-jobs-img">
                        <img [src]="baseUrl+'assets/images/sales-representive.png'" alt="sales-representive">
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="hot-jobs-img">
                        <img [src]="baseUrl+'assets/images/marketing-manager.png'" alt="marketing-manager">
                    </div>
                </swiper-slide> 
                
              </swiper-container>
        </div>
    </div>
</section> -->
<!-- <section class="wt-section">
    <div class="container">
        <h2 class="text-center">HOT <span class="pr-cl">JOBS</span></h2>
        <div class="row align-items-center p-2">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/mf-jobs.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/mf-jobs.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/mf-jobs.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="sec-section for-employers-section">
    <div class="heading text-center mb-5">
        <div class="box" data-aos="fade-up">
            <h2>FOR <span class="pr-cl">EMPLOYERS</span></h2>
        </div>
    </div>
    <div class="d-block mb-3">
        <span class="border-bottom"></span>
    </div>
    <div class="container text-start">
        <div class="row p-2 align-items-center mb-3">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-right">
                    <h3 class="pr-cl ms-4 mb-4">RECRUITMENT</h3>
                    <ul>
                        <li>
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Permanent Employees
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row align-items-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Temporary Employees
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Contract labour/Employee RECRUITMENT
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Executive Recruitment
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Any Gender – Male/Female/ Trans community
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-up">
                    <div class="emp-img p-3">
                        <img [src]="baseUrl+'assets/images/employers.png'" alt="employers">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-left">
                    <h3 class="pr-cl ms-4 mb-4">TRAINING & CONSULTATION</h3>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Skill development training
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Career transition training
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Business Development training
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        10x Sales and strategy training
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Organisation Development Consultation
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Statutory and Compliances
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Payroll management
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div class="text-center mb-3">
            <a href="/employers" mat-raised-button class="pr-btn">Connect Us</a>
        </div>
    </div>
</section>
<section class="wt-section for-employers-section">
    <div class="heading text-center mb-5">
        <div class="box" data-aos="fade-up">
            <h2>FOR <span class="pr-cl">CANDITATES</span></h2>
        </div>
    </div>
    <div class="d-block mb-3">
        <span class="border-bottom"></span>
    </div>
    <div class="container text-start">
        <div class="row p-2 align-items-center mb-3">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-right">

                    <h3 class="pr-cl ms-4 mb-4">ON GOING SUPPORT</h3>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Understanding the Job market
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Resume Writing and Optimisation
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Interview preparation & Career Counselling
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Salary Negotiation and Offer management
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Career Development Guidance
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-up">

                    <div class="emp-img p-3">
                        <img [src]="baseUrl+'assets/images/candidates.png'" alt="candidates">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="box" data-aos="fade-left">

                    <h3 class="pr-cl ms-4 mb-4">TRAINING & CONSULTATION</h3>
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Any Industry
    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Immediate Placement and Direct On-Board
    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Finding you the Right Job
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Contract & On-Roll Direct employment
    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Salary as per market standards
    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Mandatory Statutory benefits
    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                                    <mat-icon>arrow_forward_ios</mat-icon>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-11 text-start">
                                    <p>
                                        Bonuses and Allowances
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center mb-3">
            <a href="/job-seekers" mat-raised-button class="pr-btn">Apply Here</a>
        </div>
    </div>
</section>
<section class="wt-section">
    <div class="container">
        <div class="row align-items-center p-2">
            <!-- <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                <h2>WELCOME TO <span class="pr-cl">GROVEMAN GLOBAL</span></h2>
            </div> -->
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="box" data-aos="fade-right">
                    <p><span class="initial-font">G</span> roveman Global Private Limited provides an array of management solutions, including permanent,
                        temporary and contract recruitment, employee assessment, skills development and career transition as
                        well as organizational consulting. Our aim is to help organizations boost their productivity and
                        bottom line while addressing workforce-related issues. We recognize that each business has its own
                        distinct requirements and adjust our services accordingly. Our team consists of highly knowledgeable
                        recruiters with a minimum of 5 years' worth of recruitment experience in the industry. They can
                        determine particular needs and match them with the ideal candidates for any job.</p>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="box" data-aos="fade-left">
                    <div class="about-us-img">
                        <img [src]="baseUrl+'assets/images/about-us.png'" alt="about-us">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-section">
    <div class="container">
        <div class="row p-2">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                <!-- <h3>OUR <span class="pr-cl">VISION </span></h3> -->
                <div class="box" data-aos="fade-up">
                    <div class="our-vision">
                        <img [src]="baseUrl+'assets/images/our-vision.png'" alt="our-vision">
                    </div>
                    <p>The vision of the company is to be a renowned BRAND as a provider of complete industrial solutions
                        with global presence and ethical business practices.</p>
                </div>
                
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                <!-- <h3>OUR <span class="pr-cl">MISSION </span></h3> -->
                <div class="box" data-aos="fade-down">

                    <div class="our-vision">
                        <img [src]="baseUrl+'assets/images/our-mission.png'" alt="our-mission">
                    </div>
                    <p>Our mission is to provide the best in resources for all industries, businesses, entrepreneurs, and
                        offices of all sizes, so that business owners can focus on their core competencies rather than worry
                        about resources.</p>
                </div>
                    
            </div>
        </div>
    </div>
</section>


<!-- <section class="sec-section">
    <div class="container">
        <h2 class="text-center">HOT <span class="pr-cl">NEWS</span></h2>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/blog_1.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/blog_2.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="jobs-card p-3">
                    <div class="job-img mb-3">
                        <img class="g-img" src="../../../assets/images/blog_3.png" alt="MNC Mobile Manufacturing">
                    </div>
                    <div class="job-desc">
                        <div class="job-title"><a href="">MNC MOBILE MANUFACTURING</a></div>
                        <div class="job-created mb-3"><small>admin April 30, 2023</small></div>
                        <div class="job-details">
                            <p>AN COMING LOCATED AT SRIPERUMBUDUR IS LOOKING FOR YOUNG GIRLS</p>
                        </div>
                        <div class="read-more"><a class="pr-cl" href="">Read more >></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="sec-section" id="contact-us-section">
    <div class="container">
        <h2 class="text-center mb-3">CONTACT <span class="pr-cl">US</span></h2>
        <form [formGroup]="contactUsForm" (ngSubmit)="submit()">
            <div class="row g-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <mat-radio-group aria-label="Select an option" formControlName="category">
                        <mat-radio-button value="employer">Employer</mat-radio-button>
                        <mat-radio-button value="candidate">Candidate</mat-radio-button>
                      </mat-radio-group>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="box" data-aos="fade-right">
                
                <div class="px-3">
                    <p>First Name</p>
                    <mat-form-field appearance="outline" hintLabel="Max 15 characters">
                        <mat-label> First Name</mat-label>
                        <input #firstName matInput placeholder="Ex : John" formControlName="firstName">
                        <mat-hint align="end">{{firstName.value.length}} /15</mat-hint>
                        @if (contactUsForm.controls['firstName'].errors?.['minlength'] ){
                            <mat-error>This field must be min 3 characters</mat-error>
                        }
                        @if (contactUsForm.controls['firstName'].errors?.['maxlength']) {
                            <mat-error>This field should be max 15 characters</mat-error>
                        }
                      
                        @if (contactUsForm.controls['firstName'].errors?.['required']) {
                        <mat-error>First Name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="box" data-aos="fade-left">

                <div class="px-3">
                    <p>Last Name</p>
                    <mat-form-field appearance="outline" hintLabel="Max 15 characters">
                        <mat-label> Last Name</mat-label>
                        <input #lastName matInput placeholder="Ex : Joe" formControlName="lastName">
                        <mat-hint align="end">{{lastName.value.length}} /15</mat-hint>
                        @if (contactUsForm.controls['lastName'].errors?.['maxlength']) {
                            <mat-error>This field should be max 15 characters</mat-error>
                        }
                        @if (contactUsForm.controls['lastName'].errors?.['minlength'] ){
                            <mat-error>This field must be min 3 characters</mat-error>
                        }
                        @if (contactUsForm.controls['lastName'].errors?.['required']) {
                        <mat-error>Last Name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="box" data-aos="fade-right">

                <div class="px-3">
                    <p>Email</p>
                    <mat-form-field appearance="outline" hintLabel="Enter the valid email address">
                        <mat-label> Email Address</mat-label>
                        <input matInput placeholder="Ex : jhon&#64;gmail.com" formControlName="email">
                        <mat-hint align="end">Ex : jhon&#64;gmail.com</mat-hint>
                        @if (contactUsForm.controls['email'].errors?.['email'] && contactUsForm.controls['email'].touched) {
                            <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (contactUsForm.controls['email'].errors?.['required']) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="box" data-aos="fade-left">
                
                
                                    <div class="px-3">
                                        <p>Phone Number</p>
                                        <mat-form-field appearance="outline" hintLabel="Enter the valid Phone Number">
                                            <mat-label> Phone Number</mat-label>
                                            <input #phoneNo matInput placeholder="Ex : 9876543210" formControlName="phoneNo">
                                            <mat-hint align="end">{{phoneNo.value.length}} /10</mat-hint>
                                            @if (contactUsForm.controls['phoneNo'].errors?.['pattern']) {
                                                <mat-error>This field contain only <strong>numbers</strong></mat-error>
                                            }
                                            @if (contactUsForm.controls['phoneNo'].errors?.['minlength'] ){
                                                <mat-error>This field must be min 10 characters</mat-error>
                                            }
                                            @if (contactUsForm.controls['phoneNo'].errors?.['required'] ) {
                                                <mat-error>Phone number is <strong>required</strong></mat-error>
                                            }
                                        </mat-form-field>
                                    </div>
            </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="box" data-aos="fade-up">

                <div class="px-3">
                    <p>Message</p>
                    <mat-form-field appearance="outline">
                        <mat-label> Message</mat-label>
                        <textarea #message matInput placeholder="Ex : Like to contact" rows="5" formControlName="message"></textarea>
                        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                        @if (contactUsForm.controls['message'].errors?.['maxlength']) {
                            <mat-error>This field should be max 256 characters</mat-error>
                        }
                        @if (contactUsForm.controls['message'].errors?.['required']) {
                        <mat-error>Message Name is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 px-4 mt-3 text-center">
            <div class="box" data-aos="fade-down">

                <button mat-raised-button class="pr-btn" >Submit</button>
            </div>

                </div>
            </div>
        </form>
    </div>
</section>
<!-- <section class="p-2 map-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10808.846566299486!2d79.92110697153156!3d12.874605263477664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f1efc65b8bc3%3A0x32b303083f2e36e8!2s9th%20Cross%20St.%2C%20Tamil%20Nadu%20631604%2C%20India!5e1!3m2!1sen!2sus!4v1714645787656!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section> -->


