<section class="banner-section services-section">
    <div class="services-bg">
        <div class="container">
            <div class="banner-content">

                <h1 class="mb-3">Services</h1>
                <p class="mb-3">Recruitment services, often provided by specialized agencies or firms, offer
                    organizations assistance in identifying, attracting.</p>
            </div>
        </div>
    </div>
</section>
<section class="services-title-section">
    <div class="container p-3">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-left">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">01</div>
                        </div>
                        <a (click)="scrollToElement(hr_consutancy)" class="h4-link">Human Resource Consutancy</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button (click)="scrollToElement(hr_consutancy)" class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-down">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">02</div>
                        </div>
                        <a (click)="scrollToElement(contract_staffing)" class="h4-link">Contract Staffing</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button (click)="scrollToElement(contract_staffing)" class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-right">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">03</div>
                        </div>
                        <a href="" class="h4-link">Talent Acquisition</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-left">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">04</div>
                        </div>
                        <a href="" class="h4-link">Payroll Management</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-down">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">05</div>
                        </div>
                        <a href="" class="h4-link">Reference Checks</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12 col-12 col-12">
                <div class="box" data-aos="fade-right">
                    <div class="services-card mb-3">
                        <div class="number-service-wrap">
                            <div class="number-service">06</div>
                        </div>
                        <a href="" class="h4-link">Onboarding Assistance</a>
                        <p class="paragraph">The agency works with the organization to understand the job requirements.</p>
                        <div class="button-service">
                            <button mat-raised-button class="pr-btn">Read more...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-explain-section wt-section" >
    <div class="container">
        <h2 class="text-center">About Our <span class="pr-cl">Services</span></h2>
        <div class="row align-items-center" #hr_consutancy>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
                <div class="service-exp-img mb-3" >
                    <img [src]="baseUrl+'assets/images/accountant.png'" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="service-exp-content">
                    <p class="mb-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center" #contract_staffing>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="service-exp-content">
                    <p class="mb-3">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
                <div class="service-exp-img mb-3" >
                    <img [src]="baseUrl+'assets/images/accountant.png'" alt="">
                </div>
            </div>
           
        </div>
    </div>
</section>