i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 20px 40px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
  }