

<section class="banner-section job-news-section">
    <div class="container">
        <div class="row ">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="px-lg-5 px-md-4 px-sm-2 px-1">

                    <div class="box" data-aos="fade-right">
                        <h1 class="mb-3">JOB <span class="pr-cl">NEWS</span></h1>
                    </div>
                    <div class="latest-job-news">
                        <div class="box" data-aos="fade-up">
                            <a href="">
                                <div class="job-img mb-3">
                                    <!-- <img class="g-img" [src]="baseUrl+latestBlog.blog_img" [alt]="latestBlog.blogTitle"> -->
                                    <img class="g-img" [src]="baseUrl+'assets/images/recent-news-1.jpeg'" alt="latestBlog">

                                </div>
                            </a>
                        </div>
                        <div class="job-content">
                            <div class="box" data-aos="fade-up">
                                <a href="" class="mb-3">
                                    <!-- <h2 class="blog-title">{{latestBlog.blogTitle}}</h2> -->
                                    <h3 class="recent-news-heading mb-2">Adapting Your Organization for Success
                                    </h3>
                                </a>
                                <p class="mb-3">
                                    Adapting Your Organization for Success
                                    <!-- {{latestBlog.blogDesc}} -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 recent-jobs">
                    <div class="px-lg-5 px-md-4 px-sm-2 px-1 mt-5">
                        <!-- <div class="box" data-aos="fade-left">
                            <h3 class="recent-news-heading mb-3">RECENT <span class="pr-cl">NEWS</span></h3>
                        </div>
                        @if (lastThreeBlogs.length) {
                            @for (blog of lastThreeBlogs; track blog) {

                                <div class="box" data-aos="fade-down">
                                    <div class="recent-job-news px-2 mb-4">
                                        <div class="row align-items-center">
                                            
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                                <div class="box" data-aos="fade-right">
                                                    <a href="">
                                                        <div class="recent-img mb-3">
                                                            <img class="g-img" [src]="baseUrl+blog.blog_img" alt="recent-news-1">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                                <div class="box" data-aos="fade-left">
                                                    <a href="">
                                                        <h3 class="recent-news-heading mb-2">{{blog.blogTitle}} </h3>
                                                    </a>
                                                    <p class="created-date mb-3"> {{blog.createdAt | date:"fullDate"}} </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                            }
                        }@else {
                            <h3>There is no data</h3>
                        } -->

                      
                        
                        <div class="box" data-aos="fade-down">
                            <div class="recent-job-news px-2 mb-4">
                                <div class="row align-items-center">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-right">
                                            <a href="">
                                                <div class="recent-img mb-3">
                                                    <img class="g-img" [src]="baseUrl+'assets/images/recent-news-2.jpeg'" alt="recent-news-1">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-left">
                                            <a href="">
                                                <h3 class="recent-news-heading mb-2">Adapting Your Organization for Success
                                                </h3>
                                            </a>
                                            <p class="created-date mb-3">March 13, 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" data-aos="fade-down">
                            <div class="recent-job-news px-2 mb-4">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-right">
                                            <a href="">
                                                <div class="recent-img mb-3">
                                                    <img class="g-img" [src]="baseUrl+'assets/images/recent-news-2.jpeg'" alt="recent-news-2">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-left">
                                            <a href="">
                                                <h3 class="recent-news-heading mb-2">Basic Marketing and Web Designing</h3>
                                            </a>
                                            <p class="created-date mb-3">March 13, 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" data-aos="fade-down">
                            <div class="recent-job-news px-2 mb-4">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-right">
                                            <a href="">
                                                <div class="recent-img mb-3">
                                                    <img class="g-img" [src]="baseUrl+'assets/images/recent-news-3.jpeg'" alt="recent-news-3">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                        <div class="box" data-aos="fade-left">
                                            <a href="">
                                                <h3 class="recent-news-heading mb-2">A Guide to Strategic HR Management</h3>
                                            </a>
                                            <p class="created-date mb-3">March 13, 2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>